body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  #add-box{
    width: 450px;
    height: 400px;
    background: rgba(10, 8, 8, 0.961);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    text-align: center;
  
  }

  #add-box input{
    width: 100%;
    margin-bottom: 15px;
  }

  #add-box button{
    width: 40%;
    margin-bottom: 15px;
  }

#add-box input[type="text"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;

    
  }

  #add-box button[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin: 10px;
  }

  #add-box button[type="submit"]:hover {
    cursor: pointer;
    background: #4a72e0;
    color: #000;
  }


  #add-box label {
    margin: 1px;
    padding: 0;
    font-weight: bold;
    display: block;
    font-size:20px;
    text-align: center;
    line-height:5vh;

  }

  #add-box h2 {
    margin: 1px;
    padding: 0;
    font-weight: bold;
    display: block;
    font-size:40px;
    text-align: center;
 
  }